.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 100px 15% 80px;
    min-height: 100vh;
    background-image: url("/images/portfolio/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    margin: 0;
}

.about-section .content {
    text-align: left;
    z-index: 2;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .mobile_social_icons {
        display: none;
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

.about-section .image-wrapper {
    z-index: 2;
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.about p {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
}

@media screen {
    @media (max-width: 567px) {
        .nav-left{
            padding-top: 20px;
            float:left;
        }

        .nav-left img {
            height: 35px
        }

        .nav-right {
            float:right;
        }

        .nav-right li {
            padding: 10px 15px;
            list-style:none;
            font-size:13px;
            color:white;
            width: 10%;
        }

        .nav-right ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        body {
            width: 100%;
        }

        .about-section {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            width: auto;
            padding: 120px 10% 60px;
            min-height: 100vh;
        }

        .about-section .content h1 {
            font-size: 2.5em;
        }

        .about-section .content p {
            font-size: 1.2em;
        }

        .about-section .content .social_icons {
            display: none;
        }

        .about-section .content .mobile_social_icons {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: white;

            svg {
                font-size: 1.5em;
            }
        }

        .about-section .content .mobile_social_icons a {
            color:white;
        }

        .about-section .content .mobile_social_icons a svg:hover {
            color: #5000ca;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        }
    }
}
