@import 'tailwindcss';

@theme {
  --shadow-input-shadow: 0 63px 59px rgba(26, 33, 188, 0.1);
  --shadow-card-shadow: 0 40px 20px rgba(0, 0, 0, 0.15);

  --color-primary: #6556ff;
  --color-secondary: #1a21bc;
  --color-grey: #57595f;
  --color-slate-gray: #f6faff;
  --color-deep-slate: #d5effa;
  --color-success: #43c639;
  --color-midnight_text: #222c44;

  --spacing-75\%: 75%;

  --text-40: 2.5rem;
  --text-65: 4.063rem;

  --breakpoint-xs: 28rem;
}

@layer utilities {
  .container {
    @apply max-w-[1400px] mx-auto w-full px-4 sm:px-6 lg:px-8 xl:px-12;
  }
  
  .page-section {
    @apply w-full;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  section {
    @apply py-14;
  }

  h1 {
    @apply text-black sm:text-65 text-5xl
  }

  h2 {
    @apply text-black sm:text-5xl text-40 font-semibold
  }

  h3 {
    @apply text-black text-3xl font-semibold
  }

  h6 {
    @apply text-black text-2xl font-semibold
  }
}

html {
  scroll-behavior: smooth;
}
