NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyChiOs7D_dHdXY4aadUfJyB-6f6XFXPPwo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexalgo-ace83.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexalgo-ace83
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexalgo-ace83.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=140224951663
NEXT_PUBLIC_FIREBASE_APP_ID=1:140224951663:web:5c5ba53ca43443ff36a49a
NEXT_PUBLIC_NEXALGO_API_BASE_URL=https://nexalgo-backend-140224951663.us-east4.run.app/v1
