NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAUX-zIMiYyjHBEik2tXkP91jbxbH-4ojU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexalgo-mig01.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexalgo-mig01
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexalgo-mig01.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=335068424622
NEXT_PUBLIC_FIREBASE_APP_ID=1:335068424622:web:5a847f185fe6a532bd003f
NEXT_PUBLIC_NEXALGO_API_BASE_URL=https://nexalgo-backend-335068424622.us-east4.run.app/v1
